<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <!-- Brand Logo -->
  <a href="{{ url_for('home_blueprint.index') }}" class="brand-link">
    <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Stock MGT</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar User Panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/static/uploads/{{ session['profile_image'] }}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="/logout" class="d-block">{{ session['first_name'] }} - Logout</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- Dashboard -->
        <li class="nav-item {% if 'index' in segment %}menu-open{% endif %}">
          <a href="/index" class="nav-link {% if 'index' in segment %}active{% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <!-- Sell Items -->
        <li class="nav-item">
          <a href="/sales" class="nav-link {% if 'sales' in segment %}active{% endif %}">
            <i class="nav-icon fas fa-cart-plus"></i>
            <p>Sell Items</p>
          </a>
        </li>

        <!-- Analytics -->
        <li class="nav-item has-treeview {% if 'sales_view' in segment %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if 'sales_view' in segment %}active{% endif %}">
            <i class="nav-icon fas fa-chart-line"></i>
            <p>
              Analytics
              <i class="right fas fa-angle-left"></i>
              <span class="badge badge-info right">6</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/dashboard_view" class="nav-link {% if 'sales_view' in segment %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard 1</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/categories_dashboard" class="nav-link {% if 'sales_view' in segment %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard 2</p>
              </a>
            </li>

             <li class="nav-item">
              <a href="/expense_cat_dash" class="nav-link {% if 'sales_view' in segment %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard 3</p>
              </a>
            </li>


          </ul>
        </li>

        <!-- View Sales -->
        <li class="nav-item">
          <a href="/sales_view" class="nav-link {% if 'sales_view' in segment %}active{% endif %}">
            <i class="nav-icon fas fa-eye"></i>
            <p>View Sales</p>
          </a>
        </li>

        <!-- Items -->
        <li class="nav-item has-treeview {% if 'products' in segment %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if 'products' in segment %}active{% endif %}">
            <i class="nav-icon fas fa-cogs"></i>
            <p>
              Items
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/products" class="nav-link {% if 'products' in segment %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Items</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('products_blueprint.add_product') }}" class="nav-link {% if 'add_product' in segment %}active{% endif %}">
                <i class="far fa-plus-square nav-icon"></i>
                <p>Add Item</p>
              </a>
            </li>
            {% if session['role'] == 'super_admin' %}
            <li class="nav-item">
              <a href="{{ url_for('p_restock_blueprint.p_restock') }}" class="nav-link {% if 'p_restock' in segment %}active{% endif %}">
                <i class="fas fa-warehouse nav-icon"></i>
                <p>Restock Item</p>
              </a>
            </li>
            {% endif %}
          </ul>
        </li>

        <!-- Categories -->
        <li class="nav-item has-treeview {% if 'categories' in segment %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if 'categories' in segment %}active{% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Categories
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/categories" class="nav-link {% if 'categories' in segment %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Categories</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_category" class="nav-link {% if 'add_category' in segment %}active{% endif %}">
                <i class="far fa-plus-square nav-icon"></i>
                <p>Add Category</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Customers -->
        <li class="nav-item has-treeview {% if 'customers' in segment %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if 'customers' in segment %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Customers
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/customers" class="nav-link {% if 'customers' in segment %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Customers</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('customers_blueprint.add_customer') }}" class="nav-link {% if 'add_customer' in segment %}active{% endif %}">
                <i class="far fa-plus-square nav-icon"></i>
                <p>Add Customer</p>
              </a>
            </li>
          </ul>
        </li>

        {% if session['role'] == 'super_admin' %}
        <!-- User Accounts -->
        <li class="nav-item has-treeview {% if 'manage_users' in segment %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if 'manage_users' in segment %}active{% endif %}">
            <i class="nav-icon fas fa-user-cog"></i>
            <p>
              User Accounts
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/manage_users" class="nav-link {% if 'manage_users' in segment %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>View Users</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_user" class="nav-link {% if 'add_user' in segment %}active{% endif %}">
                <i class="far fa-plus-square nav-icon"></i>
                <p>Add User</p>
              </a>
            </li>
          </ul>
        </li>
        {% endif %}

      </ul>
    </nav>
  </div>
</aside>
